@charset "UTF-8";
@font-face {
  font-family: "Reem Kufi";
  src: url("fonts/ReemKufi-Regular.ttf");
}
::-webkit-scrollbar {
  width: 0;
}

body {
  color: white;
  font-family: "Reem Kufi";
  background-image: url("img/back.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #464646;
  background-attachment: fixed;
  margin: 0;
}

header {
  width: 100%;
  /* height: 14vh; */
  background-color: rgba(0, 0, 0, 0.703);
  position: fixed;
  z-index: 100;
  /*max-height: 14.5%;
  min-height: 2%;*/
  max-height: 14.5vh;
  min-height: 2vh;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

header:hover {
  background-color: rgba(0, 0, 0, 0.896);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .pic {
  width: 5vw;
  max-height: 100%;
  margin: 1% 0 0% 10px;
}

.header .pic img {
  width: 100%;
  max-height: 105px;
}

.header .menu nav ul {
  margin-top: 0;
  margin-bottom: 0;
}

.header .menu nav ul li {
  list-style-type: none;
  margin-right: 20px;
  display: inline-block;
  text-shadow: 2px 2px 2px black;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.header .menu nav ul li a {
  font-size: 1.6vw;
}

.header .menu nav ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*.mainBlock {
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.mainText {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex: 1 1 500px;
  width: 100%;
  height: auto;
  top: 60%;
  position: relative;
}

.mainBlock .firstP {
  font-size: 500%;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  /*transform: translate(0, -140%);
  transition: transform 0.8s ease 0s;*/
/*}

/*.mainBlock .firstP._active {
  transform: translate(0, 0);
}
.blackLogo {
  opacity: 0;
  transition: all 0.7s linear 0s;
}

.blackLogo._active {
  opacity: 1;
}

.whiteLogo {
  opacity: 1;
  transition: all 0.7s linear 0s;
}

.whiteLogo._active {
  opacity: 0;
}*/
/*.mainBlock .secondP {
  font-size: 250%;
  text-align: center;
  margin-top: -110px;
  text-shadow: 1px 1px 1px black;
}*/
.mainBlock {
  width: 100vw;
  height: 100vh;
}

.mainText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  top: 72vh;
  position: relative;
  margin: auto;
}

.mainBlock .firstP {
  font-size: 6vw;
  text-shadow: 2px 2px 2px black;
  margin: 0;
}

.mainBlock .secondP {
  font-size: 2.5vw;
  margin: 0;
  margin-top: -2.5%;
  text-shadow: 1px 1px 1px black;
}

.allPerformances {
  background-color: #EFEBE1;
  margin-left: 0;
  margin-right: 0;
  color: black;
}

.mainPerformance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainPerformance .inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 45px;
  margin-top: 50px;
  width: 80%;
}

.mainPerformance .inf .name {
  font-size: 4.5vw;
  margin-top: 0;
  margin-bottom: 25px;
}

.mainPerformance .inf .dop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -20px;
}

.mainPerformance .inf .dop p {
  display: inline-block;
  font-size: 2vw;
}

.mainPerformance .inf .dop .Aut {
  margin-right: 35px;
}

.mainPerformance .picNOther .date {
  font-size: 5vw;
}

.picNOther {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.picNOther .el {
  width: 5vw;
  left: 0;
  margin-top: 1%;
  position: absolute;
}

.picNOther .premNDate {
  display: inline-block;
  position: relative;
}

.picNOther .premNDate .premiere {
  border: 2px solid black;
  border-radius: 20px;
  width: 12vw;
  max-height: 7.5vh;
  margin-right: 8%;
  /* min-height: 6vh; */
  float: right;
  position: relative;
}

.picNOther .premNDate .premiere p {
  font-size: 2.5vw;
  width: 95%;
  margin-top: -2px;
  margin-bottom: 0;
  text-align: center;
  padding: 2px;
  display: inline-block;
  vertical-align: middle;
}

.mainPerformance .picNOther .premNDate .date {
  float: right;
  position: relative;
  margin-right: 8%;
  margin-bottom: 0;
  margin-top: 20px;
  margin-bottom: -5%;
}

.mainPerformance .picNOther .photo {
  display: inline-block;
  position: relative;
  margin-top: 1%;
  width: 50%;
  margin-right: 40px;
}

.mainPerformance .picNOther .photo img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

/*.allPerformances .promej1 {
  width: 100%;
  height: 20vh;
  background-color: #EFEBE1;
}

.allPerformances .promej2 {
  width: 100%;
  height: 70px;
  background-color: #EFEBE1;
  display: flex;
  justify-content: space-between;
}

.allPerformances .promej2 .forFlex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.allPerformances .promej2 .forFlex .first .plBill {
  padding-left: 15px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.8vw;
}
.allPerformances .promej2 .forFlex .first .plBill::before {

  padding-right: 20px;
  background-image: url('Just pics and font/circle2.png');
  background-size: 20px 20px;
  display: inline-block;
  width: 0px; 
  height: 20px;
  content:"";
}

.allPerformances .promej2 .forFlex .second .allDate {
  font-size: 1.5vw;
  margin-top: 0;
  margin-bottom: 0;
}

.allPerformances .promej2 .forFlex .third .circ {
  padding-right: 15px;
  width: 1.8vw;
}
.allPerformances .promej2 .forFlex .third .circ img {
  width: 1.6vw;
}*/
.promej {
  height: 20vh;
  padding-bottom: 0.5vh;
}

.promej .promejFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.promej .promejFlex .circNtext {
  width: 47.7%;
}

.promej .promejFlex .circ {
  margin-bottom: 1.25%;
}

.promej .promejFlex svg {
  width: 1.8vw;
  display: inline-block;
  vertical-align: bottom;
}

.promej .promejFlex .circNtext .circ {
  margin-left: 1%;
}

.promej .promejFlex .circNtext .circNtextFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promej .promejFlex .circNtext .circNtextFlex .text {
  padding-left: 15px;
}

.promej .promejFlex .circNtext .circNtextFlex .text p {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.8vw;
}

.promej .promejFlex .dateNcirc {
  width: 52.3%;
}

.promej .promejFlex .dateNcirc .dateNcircFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promej .promejFlex .dateNcirc .circ {
  margin-right: 1%;
}

.promej .promejFlex .dateNcirc .dateNcircFlex .date {
  font-size: 1.5vw;
  margin-top: 0;
  margin-bottom: 0;
}

.promej .promejFlex .dateNcirc .dateNcircFlex .date p {
  margin: 0;
}

.firstFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.agNFlex {
  width: 50%;
}

.agFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -10px;
}

.agNFlex .agFlex .inf .oneMoreFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.agNFlex .agFlex .inf .oneMoreFlex .name {
  margin-top: 0;
  margin-bottom: 0px;
}

.inc, .dFlex, .inc2 {
  font-size: 2.8vw;
}

.agNFlex .agFlex .place {
  border: 3px solid black;
  border-radius: 20px;
  padding: 6px 25px 6px 25px;
  margin-bottom: 1.2%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.agNFlex .agFlex .place p {
  font-size: 1.5vw;
  margin-bottom: 0;
}

.firstFlex .agNFlex .agFlex .inf {
  height: 100%;
  margin-top: -13px;
}

.oneMoreFlex .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /* font-size: 2.5vw;*/
}

.au, .dir {
  color: #828282;
}

.au {
  margin-bottom: 8px;
}

.oneMoreFlex .flex p {
  font-size: 1.2vw;
}

.time, .age {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2vw;
}

.age {
  padding-left: 10px;
}

.fa {
  margin-bottom: 8px;
}

.firstFlex .pic img {
  width: 100%;
}

.firstFlex p {
  margin-top: 0;
}

.firstFlex .date {
  margin-top: 0;
  margin-right: 0;
  padding-left: 10px;
}

.notNames {
  margin-right: 25px;
}

.firstFlex .pic {
  display: inline-block;
  position: relative;
  width: 25%;
}

.numb {
  font-size: 3vw;
  margin-bottom: 0;
}

.nan {
  font-size: 1.2vw;
  margin-bottom: 0;
}

.dFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.thirdPer .pic, .fourthPer .pic, .seventhPer .pic, .eighthPer .pic {
  margin-left: 0.7vw;
}

.fifthPer .pic, .sixthPer .pic, .twelfthPer .pic {
  margin-left: -0.7vw;
}

.firstPer, .secondPer, .thirdPer, .fourthPer, .fifthPer, .sixthPer, .seventhPer, .eighthPer, .ninethPer, .tenthPer, .eleventhPer, .twelfthPer {
  border: solid black;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-width: 2px 0 2px 0;
  padding-top: 2.5%;
  padding-bottom: 1%;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.firstPer:hover, .secondPer:hover, .thirdPer:hover, .fourthPer:hover, .fifthPer:hover, .sixthPer:hover, .seventhPer:hover, .eighthPer:hover, .ninethPer:hover, .tenthPer:hover, .eleventhPer:hover, .twelfthPer:hover {
  background-color: black;
  color: white;
}

.firstPer .clocksSvg {
  position: relative;
  top: 0.5vh;
  display: inline-block;
  width: 13%;
}

.secondPer .clocksSvg {
  position: relative;
  top: 0.5vh;
  display: inline-block;
  width: 7.745%;
}

.thirdPer .clocksSvg, .fourthPer .clocksSvg {
  position: relative;
  top: 0.5vh;
  display: inline-block;
  width: 9%;
}

.fifthPer .clocksSvg {
  position: relative;
  top: 0.5vh;
  display: inline-block;
  width: 12.8%;
}

.sixthPer .clocksSvg {
  position: relative;
  top: 0.5vh;
  display: inline-block;
  width: 11.9%;
}

.seventhPer .clocksSvg {
  position: relative;
  top: 0.5vh;
  display: inline-block;
  width: 11.8%;
}

.eighthPer .clocksSvg {
  position: relative;
  top: 0.5vh;
  display: inline-block;
  width: 8.1%;
}

.ninethPer .clocksSvg {
  position: relative;
  top: 0.5vh;
  display: inline-block;
  width: 16.35%;
}

.tenthPer .clocksSvg {
  position: relative;
  top: 0.5vh;
  display: inline-block;
  width: 13%;
}

.eleventhPer .clocksSvg {
  position: relative;
  top: 0.5vh;
  display: inline-block;
  width: 13.8%;
}

.twelfthPer .clocksSvg {
  position: relative;
  top: 0.5vh;
  display: inline-block;
  width: 6.87%;
}

.place:hover {
  background-color: #EFEBE1;
  cursor: pointer;
}

.place:hover p {
  color: black;
}

.firstPer:hover .agNFlex .agFlex .place, .secondPer:hover .agNFlex .agFlex .place, .thirdPer:hover .agNFlex .agFlex .place, .fourthPer:hover .agNFlex .agFlex .place, .fifthPer:hover .agNFlex .agFlex .place, .sixthPer:hover .agNFlex .agFlex .place, .seventhPer:hover .agNFlex .agFlex .place, .eighthPer:hover .agNFlex .agFlex .place, .ninethPer:hover .agNFlex .agFlex .place, .tenthPer:hover .agNFlex .agFlex .place, .eleventhPer:hover .agNFlex .agFlex .place, .twelfthPer:hover .agNFlex .agFlex .place {
  border-color: white;
}

.allPerformances .pic img {
  display: inline-block;
  border: 1px solid transparent;
  border-left: 0;
  border-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.allPerformances .pic img:hover {
  -webkit-box-shadow: 0 -4px 7px -3px #EFEBE1;
          box-shadow: 0 -4px 7px -3px #EFEBE1;
}

.firstPer:hover .clocksSvg .secPic1, .secondPer:hover .clocksSvg .secPic2, .thirdPer:hover .clocksSvg .secPic3, .fourthPer:hover .clocksSvg .secPic4, .fifthPer:hover .clocksSvg .secPic5, .sixthPer:hover .clocksSvg .secPic6, .seventhPer:hover .clocksSvg .secPic7, .eighthPer:hover .clocksSvg .secPic8, .ninethPer:hover .clocksSvg .secPic9, .tenthPer:hover .clocksSvg .secPic10, .eleventhPer:hover .clocksSvg .secPic11, .twelfthPer:hover .clocksSvg .secPic12 {
  opacity: 1;
}

.firstPer:hover .clocksSvg .firPic1, .secondPer:hover .clocksSvg .firPic2, .thirdPer:hover .clocksSvg .firPic3, .fourthPer:hover .clocksSvg .firPic4, .firthPer:hover .clocksSvg .firPic5, .sixthPer:hover .clocksSvg .firPic6, .seventhPer:hover .clocksSvg .firPic7, .eighthPer:hover .clocksSvg .firPic8, .ninethPer:hover .clocksSvg .firPic9, .tenthPer:hover .clocksSvg .firPic10, .eleventhPer:hover .clocksSvg .firPic11, .twelfthPer:hover .clocksSvg .firPic12 {
  opacity: 0;
}

.secPic1, .secPic2, .secPic3, .secPic4, .secPic5, .secPic6, .secPic7, .secPic8, .secPic9, .secPic10, .secPic11, .secPic12 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.firPic1, .firPic2, .firPic3, .firPic4, .firPic5, .firPic6, .firPic7, .firPic8, .firPic9, .firPic10, .firPic11, .firPic12 {
  position: absolute;
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 100%;
  bottom: 0;
}

.thIs {
  background-color: #EFEBE1;
  padding-top: 7vh;
  padding-bottom: 10vh;
}

.thIs2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thIs .thIs2 .text {
  width: 50%;
  position: relative;
}

.thIs .thIs2 .text div {
  position: absolute;
  top: 25%;
  font-size: 2vw;
  right: 42.8%;
}

.thIs .firPic, .thIs .secPic {
  width: 5%;
}

.fEl, .sEl {
  width: 100%;
}

.sEl {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.thIs .thIs2 .text p {
  font-size: 2vw;
  text-align: center;
}

.thIs .thIs2 .text img {
  width: 100%;
}

.words {
  background-color: #EFEBE1;
  overflow: hidden;
}

.firstWord, .secondWord, .thirdWord, .fourthWord, .fifthWord, .sixthWord, .seventhWord {
  width: 100%;
  position: relative;
  left: -2%;
}

.firstWordFlex, .secondWordFlex, .thirdWordFlex, .fourthWordFlex, .fifthWordFlex, .sixthWordFlex, .seventhWordFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.secondWord, .fourthWord, .sixthWord {
  margin-left: -100%;
}

.secondWord {
  left: -2%;
}

.thirdWord {
  left: -1.3%;
}

.fifthWord {
  left: -7%;
}

.seventhWord {
  left: 1%;
}

.firstWordFlex span, .secondWordFlex span, .thirdWordFlex span, .fourthWordFlex span, .fifthWordFlex span, .sixthWordFlex span, .seventhWordFlex span {
  font-size: 5vw;
  color: #252525;
}

.firstWordFlex .obch {
  -webkit-animation: obch1 29s infinite ease-in-out;
          animation: obch1 29s infinite ease-in-out;
}

.secondWordFlex .obch {
  -webkit-animation: obch2 32.875s infinite ease-in-out;
          animation: obch2 32.875s infinite ease-in-out;
}

.thirdWordFlex .obch {
  -webkit-animation: obch3 25.125s infinite ease-in-out;
          animation: obch3 25.125s infinite ease-in-out;
}

.fourthWordFlex .obch {
  -webkit-animation: obch4 31.75s infinite ease-in-out;
          animation: obch4 31.75s infinite ease-in-out;
}

.fifthWordFlex .obch {
  -webkit-animation: obch5 28.625s infinite ease-in-out;
          animation: obch5 28.625s infinite ease-in-out;
}

.sixthWordFlex .obch {
  -webkit-animation: obch6 26.65s infinite ease-in-out;
          animation: obch6 26.65s infinite ease-in-out;
}

.seventhWordFlex .obch {
  -webkit-animation: obch7 29.375s infinite ease-in-out;
          animation: obch7 29.375s infinite ease-in-out;
}

.firstWordFlex .ph, .secondWordFlex .ph, .thirdWordFlex .ph, .fourthWordFlex .ph, .fifthWordFlex .ph, .sixthWordFlex .ph, .seventhWordFlex .ph {
  display: inline-block;
  width: 5vw;
  padding-top: 0.6%;
}

/*.firstWordFlex div {
  animation: firstWordFlexD 20s infinite ease-in-out;
}

.secondWordFlex div {
  animation: secondWordFlexD 20.5s infinite ease-in-out;
}

.thirdWordFlex div {
  animation: thirdWordFlexD 19.5s infinite ease-in-out;
}

/*.fourthWordFlex div {
  animation: fourthWordFlexD 21s infinite ease-in-out;
}*/
.ph {
  display: inline-block;
}

/*
.fifthWordFlex div {
  animation: fifthWordFlexD 17.5s infinite ease-in-out;
}

.sixthWordFlex div {
  animation: sixthWordFlexD 20s infinite ease-in-out;
}

.seventhWordFlex div {
  animation: seventhWordFlexD 18.5s infinite ease-in-out;
}*/
.firstWordFlex div svg, .secondWordFlex div svg, .thirdWordFlex div svg, .fourthWordFlex div svg, .fifthWordFlex div svg, .sixthWordFlex div svg, .seventhWordFlex div svg {
  width: 4vw;
  vertical-align: middle;
}

.firstWordFlex span, .firstWordFlex .ph, .secondWordFlex span, .secondWordFlex .ph, .thirdWordFlex span, .thirdWordFlex .ph, .fourthWordFlex span, .fourthWordFlex .ph, .fifthWordFlex span, .fifthWordFlex .ph, .sixthWordFlex span, .sixthWordFlex .ph, .seventhWordFlex span, .seventhWordFlex .ph {
  display: inline-block;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

.obchFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.obchFlex .mysp, .obchFlexx .ph {
  margin-top: -2.2%;
  margin-left: 0.6vw;
  margin-right: 1.25vw;
  display: inline-block;
}

/*.thirdWordFlex span, .thirdWordFlex div {
  margin-right: 0.9%;
  margin-left: 0.8%;
}*/
@-webkit-keyframes obch1 {
  from {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  50% {
    -webkit-transform: translate(-360%, 0);
            transform: translate(-360%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes obch1 {
  from {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  50% {
    -webkit-transform: translate(-360%, 0);
            transform: translate(-360%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes obch2 {
  from {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  50% {
    -webkit-transform: translate(280%, 0);
            transform: translate(280%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes obch2 {
  from {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  50% {
    -webkit-transform: translate(280%, 0);
            transform: translate(280%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes obch3 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-325%, 0);
            transform: translate(-325%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes obch3 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-325%, 0);
            transform: translate(-325%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes obch4 {
  from {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  50% {
    -webkit-transform: translate(230%, 0);
            transform: translate(230%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes obch4 {
  from {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  50% {
    -webkit-transform: translate(230%, 0);
            transform: translate(230%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes obch5 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-270%, 0);
            transform: translate(-270%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes obch5 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-270%, 0);
            transform: translate(-270%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes obch6 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(260%, 0);
            transform: translate(260%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes obch6 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(260%, 0);
            transform: translate(260%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes obch7 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-350%, 0);
            transform: translate(-350%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes obch7 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-350%, 0);
            transform: translate(-350%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.words {
  font-family: "Times New Roman", Times, serif;
}

.wordsFlex > div {
  margin-bottom: 2vh;
}

.footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
}

.p1 {
  height: 75%;
  background-color: #272727;
}

.p1Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.p1Flex .moreAU {
  width: 47%;
}

.p1Flex .lineNcon {
  width: 50%;
}

.lineNconFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moreAU {
  margin-left: 3%;
}

.moreAUFlex .dop, .gmail, .phone {
  font-size: 1.2vw;
  text-shadow: 1px 1px 1px black;
}

.moreAUFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.moreAUFlex .gl, .contacts {
  font-size: 2.8vw;
  margin-top: 1vw;
  margin-bottom: 0;
  text-shadow: 2px 2px 2px black;
}

.moreAUFlex .gl {
  margin-top: 0.3vw;
}

.meFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.meFlex .gh, .meFlex .vk, .meFlex .inst {
  width: 2.75vw;
  margin-right: 7%;
}

.meFlex img {
  width: 100%;
}

.contNme {
  margin-left: 5%;
}

.contNmeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.line {
  height: 150%;
}

.lineFlex {
  height: 100%;
}

.line img {
  height: 100%;
}

.me {
  margin-left: 1.5%;
}

.phone {
  margin-bottom: 0;
}

.gmail {
  margin-top: 0;
}

.p2 {
  height: 25%;
  background-color: black;
}

.p2 p {
  font-size: 1.25vw;
}

.p2Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.moreAU, .lineNcon {
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: white;
}

/*@media (max-width: 1300px) {
  .header .menu nav ul li a {
      font-size: 19px;
  }
  .mainBlock .firstP {
      font-size: 400%;
  }
  .mainBlock .secondP {
      font-size: 200%;
      margin-top: -90px;
  }


}

@media (max-width: 1100px) {
  .header .menu nav ul li a {
      font-size: 16px;
  }
}

/*header .menu nav ul li a {
  font-size: 24px;

}

/*.firstP {
   margin-top: 320px;
   font-size: 88px;
   text-align: center;
   text-shadow: 2px 2px 2px black;
   margin-bottom: -50px;
   letter-spacing: 4px;
}
.secondP {
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  letter-spacing: 2px;
}


/*.theater {
  position: absolute; /*чтобы работали top и left */
/* top: 0; /*чтобы не было */
/* left: 0; /* отступов по краям */
/* width: 100%; /*чтобы изображение отображалось полностью*/
/*height: 100%; /*и при масштабировании не сдвигалось*/
/*object-fit: cover; /*чтобы изображение не сжималось*/
/*}*/