.footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
}

.p1 {
  height: 75%;
  background-color: #272727;
}

.p1Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.p1Flex .moreAU {
  width: 47%;
}

.p1Flex .lineNcon {
  width: 50%;
}

.lineNconFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moreAU {
  margin-left: 3%;
}

.moreAUFlex .dop, .gmail, .phone {
  font-size: 1.2vw;
  text-shadow: 1px 1px 1px black;
}

.moreAUFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.moreAUFlex .gl, .contacts {
  font-size: 2.8vw;
  margin-top: 1vw;
  margin-bottom: 0;
  text-shadow: 2px 2px 2px black;
}

.moreAUFlex .gl {
  margin-top: 0.3vw;
}

.meFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.meFlex .gh, .meFlex .vk, .meFlex .inst {
  width: 2.75vw;
  margin-right: 7%;
}

.meFlex img {
  width: 100%;
}

.contNme {
  margin-left: 5%;
}

.contNmeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.line {
  height: 150%;
}

.lineFlex {
  height: 100%;
}

.line img {
  height: 100%;
}

.me {
  margin-left: 1.5%;
}

.phone {
  margin-bottom: 0;
}

.gmail {
  margin-top: 0;
}

.p2 {
  height: 25%;
  background-color: black;
}

.p2 p {
  font-size: 1.25vw;
}

.p2Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.moreAU, .lineNcon {
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}