@import '../import/header';
@import '../import/footer';

@font-face {
    font-family: "Reem Kufi";
    src: url("../fonts/ReemKufi-Regular.ttf");
  }
  
  ::-webkit-scrollbar {
    width: 0;
  }
  
  body {
    color: white;
    font-family: "Reem Kufi";
    background-image: url("../img/Book your place/seats.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #464646;
    background-attachment: fixed;
    margin: 0;
  }
  
  
  .mainBlock {
    width: 100vw;
    height: 100vh;
  
    .mainText {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 90%;
      top: 50vh;
      position: relative;
      margin: auto;
  
      .firstP {
        font-size: 3.5vw;
        text-shadow: 2px 2px 2px black;
        margin: 0;
      }
  
    }
  }

  .secBlock {
    color: black;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/Book your place/secBack.png");
    background-size: cover;
    background-position-y: 57.5%;
    .secBlockFlex {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: center;
      .form {
        background-color: white;
        width: 38%;
        .formFlex {
          display: flex;
          flex-direction: column;
          .formTitle {
            text-align: center;
            font-weight: normal;
          }
          .formGroupSelectsNimg {
            .formGroupSelectsNimgFlex {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              .selects {
                width: 70%;
                .selectsFlex {
                  display: flex;
                  flex-direction: column;
                  label {
                    font-size: 1.5vw;
                    display: inline-block;
                    width: 40%;
                    margin-bottom: 20px;
                  }
                  select {
                    border-radius: -5px;
                    border: 2px solid black;
                    height: 2.5vw;
                    width: 30%;
                    font-size: 0.8vw;
                    font-weight: 550;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: url("../img/Book your place/triangle-svg.svg") 96% / 12% no-repeat #eee;
                    padding-right: 6%;
                    background-color: white;
                  }
                  select::-ms-expand { 
                    display: none; /* удалите стрелку по умолчанию в IE 10 и 11 */
                  }
                  option {
                    text-align: right;
                  }
                }
              }
            }
            .img {
              width: 5vw;
              img {
                width: 100%;
              }
            }
            }
          }
          .formGroupButtons {
            .formGroupButtonsFlex {
              .pay, .cancel {
                margin-right: 5%;
                display: inline-block;
                margin-bottom: 5%;
                input {
                  display: inline-block;
                  padding: 10px 20px;
                  border-radius: 5px;
                  color: #fff;
                  background-color: #0071f0;
                  outline: none;
                  cursor: pointer;
                  transition: 0.3s;
                }
              }
              .pay {
                margin-left: 5%;
              }
            }
          }
        }
      }
    }
  